@{
    ViewData["Title"] = "Home Page";
}

<!-- card -->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="row pt-md-5 mt-3 mb-5">
                    <div class="col-xl-3 col-sm-6 p-2">
                        <div class="card card-common">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <i class="fas fa-shopping-cart fa-3x text-primary"></i>
                                    <div class="text-right text-secondary">
                                        <h5>Sales</h5>
                                        <h3>$154,654</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-secondary">
                                <i class="fas fa-sync mr-3"></i>
                                <span>Update Now</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 p-2">
                        <div class="card card-common">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <i class="fas fa-money-bill-alt fa-3x text-success"></i>
                                    <div class="text-right text-secondary">
                                        <h5>Expenses</h5>
                                        <h3>985,654</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-secondary">
                                <i class="fas fa-sync mr-3"></i>
                                <span>Update Now</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 p-2">
                        <div class="card card-common">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <i class="fas fa-users fa-3x text-info"></i>
                                    <div class="text-right text-secondary">
                                        <h5>Users</h5>
                                        <h3>1,456</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-secondary">
                                <i class="fas fa-sync mr-3"></i>
                                <span>Update Now</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 p-2">
                        <div class="card card-common">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <i class="fas fa-chart-line fa-3x text-danger"></i>
                                    <div class="text-right text-secondary">
                                        <h5>Visitors</h5>
                                        <h3>$5,000</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-secondary">
                                <i class="fas fa-sync mr-3"></i>
                                <span>Update Now</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- table -->
<section>
    <div class="container-fluid">
        <div class="row mb-5">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-12 mb-4 mb-xl-0">
                        <h3 class="text-muted text-center mb-3">Salary</h3>
                        <table class="table table-striped bg-light text-center">
                            <thead>
                                <tr class="text-muted">
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Salary</th>
                                    <th>Date</th>
                                    <th>Contact</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>1</th>
                                    <td>John</td>
                                    <td>$2000</td>
                                    <td>25/05/2018</td>
                                    <td><button type="button" class="btn btn-info btn-sm">Contact</button></td>
                                </tr>
                                <tr>
                                    <th>1</th>
                                    <td>John</td>
                                    <td>$2000</td>
                                    <td>25/05/2018</td>
                                    <td><button type="button" class="btn btn-info btn-sm">Contact</button></td>
                                </tr>
                                <tr>
                                    <th>1</th>
                                    <td>John</td>
                                    <td>$2000</td>
                                    <td>25/05/2018</td>
                                    <td><button type="button" class="btn btn-info btn-sm">Contact</button></td>
                                </tr>
                                <tr>
                                    <th>1</th>
                                    <td>John</td>
                                    <td>$2000</td>
                                    <td>25/05/2018</td>
                                    <td><button type="button" class="btn btn-info btn-sm">Contact</button></td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- pagination -->
                        <nav>
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                    <a href="#" class="page-link py-2 px-3">
                                        <span>&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item active">
                                    <a href="#" class="page-link py-2 px-3">
                                        1
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link py-2 px-3">
                                        2
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link py-2 px-3">
                                        3
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link py-2 px-3">
                                        <span>&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>

                    </div>
                    <div class="col-xl-6 col-12">
                        <h3 class="text-muted text-center mb-3">Payment</h3>
                        <table class="table table-dark table-hover text-center">
                            <thead>
                                <tr class="text-muted">
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>1</th>
                                    <td>John</td>
                                    <td>$2000</td>
                                    <td>25/05/2018</td>
                                    <td><span class="badge badge-success w-75 py-2">Completed</span></td>
                                </tr>
                                <tr>
                                    <th>1</th>
                                    <td>John</td>
                                    <td>$2000</td>
                                    <td>25/05/2018</td>
                                    <td><span class="badge badge-danger w-75 py-2">Panding</span></td>
                                </tr>
                                <tr>
                                    <th>1</th>
                                    <td>John</td>
                                    <td>$2000</td>
                                    <td>25/05/2018</td>
                                    <td><span class="badge badge-danger w-75 py-2">Panding</span></td>
                                </tr>
                                <tr>
                                    <th>1</th>
                                    <td>John</td>
                                    <td>$2000</td>
                                    <td>25/05/2018</td>
                                    <td><span class="badge badge-success w-75 py-2">Completed</span></td>
                                </tr>
                            </tbody>
                        </table>


                        <!-- pagination -->
                        <nav>
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                    <a href="#" class="page-link py-2 px-3">
                                        <span>Previous</span>
                                    </a>
                                </li>
                                <li class="page-item active">
                                    <a href="#" class="page-link py-2 px-3">
                                        1
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link py-2 px-3">
                                        2
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link py-2 px-3">
                                        3
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link py-2 px-3">
                                        <span>Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- progress -->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="row mb-4">
                    <div class="col-xl-6 col-12">
                        <div class="bg-dark text-white p-4 rounded">
                            <h4 class="mb-5">Conversion Rates</h4>
                            <h6>Google Chrome</h6>
                            <div class="progress mb-4" style="height: 20px">
                                <div class="progress-bar progress-bar-striped font-weight-bold" style="width: 95%">
                                    95%
                                </div>
                            </div>
                            <h6>Google Chrome</h6>
                            <div class="progress mb-4" style="height: 20px">
                                <div class="progress-bar progress-bar-striped font-weight-bold" style="width: 65%">
                                    65%
                                </div>
                            </div>
                            <h6>Google Chrome</h6>
                            <div class="progress mb-4" style="height: 20px">
                                <div class="progress-bar progress-bar-striped font-weight-bold" style="width: 75%">
                                    75%
                                </div>
                            </div>
                            <h6>Google Chrome</h6>
                            <div class="progress mb-4" style="height: 20px">
                                <div class="progress-bar progress-bar-striped font-weight-bold" style="width: 57%">
                                    57%
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-12">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>